<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Message Board</title>
</head>
<body>
    <h1>The Dojo Message Board</h1>
    <div class="main-content">
        <% if(messages.messages) {%>
            <% for(var i of messages.messages){ %>
                <p><%= i %></p>
            <% } %>
        <% } %>

        <form action="/newMessage" method="post">
            Name:<input type="text" name="name">
            Message: <input type="text" name="message">
            <input type="submit" value="Post Message">
        </form>
        <% for(var i in messages){ %>
            <div class="message">
                <h4>Name: <%=messages[i].name%></h4>
                <h4>Message: <%=messages[i].message%></h4>
            </div>
            <% if(messages.comment) {%>
                <% for(var i of messages.comments){ %>
                    <p><%= i %></p>
                <% } %>
            
            <%for(var j in comments){%>
                <div class="comment">
                    <p>Name: <%=comments[j].name%></p>
                    <p>Comment: <%=comments[j].comment%></p>
                </div>
            <% } %>
            <% } %>
            <form action="/newComment/<%=messages[i].id%>" method="post">
                Name:<input type="text" name="name">
                Comment:<input type="text" name="comment">
                <input type="submit" value="Post Comment">
            </form>
        <% } %>
        
    </div>
</body>
</html>